* {
  margin : 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width : 100%;
}

/* 谷歌浏览器 优化 */

::-webkit-scrollbar-track-piece {
  /*滚动条凹槽的颜色，还可以设置边框属性*/
  background-color: #dddddd;
}

::-webkit-scrollbar {
  /*滚动条的宽度*/
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  /*滚动条的设置*/
  background-color: #434150;
  background-clip: padding-box;
  min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #605d77;
}

#app {
  height                 : 100%;
  width                  : 100%;
  font-family            : Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}