#app .layout {
  .sidebar {
    background-color: var(--reverse4);
    box-shadow      : 1px 0px 0px var(--reverse2);
    z-index         : 1;

    .side-title {
      .logo-text {
        color: var(--main);
      }
    }
  }

  .layout-content {
    background-color: var(--main);
  }

  .top-header {
    background-color: var(--reverse4);

    .toggle {
      i {
        color: var(--main);
      }
    }

    .el-drawer.toggle-drawer {
      background-color: var(--reverse4);
      .el-drawer__header{
        color: var(--main);
      }
    }

    .full-screen {
      i {
        color: var(--main);
      }
    }
  }


  .tag-view {
    background-color: var(--reverse2);
    border-top      : 1px solid var(--reverse3);
    border-bottom   : 1px solid var(--reverse3);

    .opra {
      border-left: 1px solid var(--reverse3);

      .opra-icon {
        color: var(--main);
      }

      &:hover {
        .opra-icon {
          color: var(--reverse4);
        }
      }
    }

    .tag {
      border          : 1px solid var(--main);
      color           : var(--main);
      background-color: var(--reverse3);

      &.active {
        background-color: var(--main);
        border          : 1px solid var(--reverse3);
        color           : var(--reverse4);

        &::before {
          background-color: var(--reverse4);
        }

        i {
          color: var(--reverse4);
        }
      }

      i {
        &:hover {
          background-color: var(--reverse4);
          color           : var(--main);
        }
      }
    }
  }
}

#nprogress {

  .bar {
    background: var(--main);
  }

  .peg {
    box-shadow: 0 0 10px var(--reverse), 0 0 5px var(--reverse);
  }
}